a {
  color: $gold;
  transition: all 250ms ease;
  text-decoration: none;

  &:hover {
    color: darken($gold, 10%);
  }

}

button {
  background-color: $gold;
  color: $white;
  border: none;
  padding: 8px 35px;
  transition: all 250ms ease;
  margin-top: 1.5em;
  
  &:hover {
    background-color: darken($gold, 10%);
  }
}
