.nav-wrapper {
  position: sticky !important;
  top: 0;
  background-color: rgba($lightGrey, .9);
  padding: 18px 0;
  width: 100%;
  height: 56px;
  transition: all 250ms ease;
  z-index: 9999;
  box-shadow: 0 15px 8px -18px $black;

  @include media-breakpoint-down(md) {
    padding: 0 0;
    background-color: rgba($lightGrey, .95);
  }

  #nav {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    // Hamburger styling below
    .hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, -webkit-filter;
      transition-property: opacity, filter;
      transition-property: opacity, filter, -webkit-filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible;
      display: none;

      @include media-breakpoint-down(md) {
        position: absolute;
        top: 0;
        display: inline-block;
        z-index: 999;
        margin-left: -30px;
      }

      &:hover {
        opacity: 0.7;
      }

      &:focus {
        outline: none;
      }

    }
    .hamburger--squeeze .hamburger-inner {
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--squeeze .hamburger-inner::before {
        transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
      .hamburger--squeeze .hamburger-inner::after {
        transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--squeeze.is-active .hamburger-inner {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
      .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

    .hamburger-box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
    }

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 2px;
      background-color: $gold;
      border-radius: 1px;
      position: absolute;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block;
    }
    .hamburger-inner::before {
      top: -10px;
    }
    .hamburger-inner::after {
      bottom: -10px;
    }
    .nav {
      position: relative;
      margin: 0 0;
      text-align: center;
      @include media-breakpoint-down(md) {
        display: none;
        padding: 0 0;
      }
      &.is-active {
        @include media-breakpoint-down(md) {
          display: block;
          top: 55px;
          background-color: rgba($lightGrey, .95);
          box-shadow: 0 15px 8px -18px $black;
        }
      }
      li {
        display: inline-block;
        padding-right: 25px;
        position: relative;

        @include media-breakpoint-down(md) {
          display: block;
          padding: 15px 0;
          &:last-child {
            padding-bottom: 30px;
          }
        }

        a {
          transition: all 250ms ease;
          color: $black;
          text-decoration: none;
          position: relative;
        }

        &.active {

          a {
            color: $gold;
          }

        }

        &:hover {

          a {
            color: $gold;
          }

        }

      }

    }

  }

}
