a {
  color: $gold;
  transition: all 250ms ease;
  text-decoration: none;

  &:hover {
    color: darken($gold, 10%);
  }

}

button {
  background-color: $gold;
  color: $white;
  border: none;
  padding: 8px 35px;
  transition: all 250ms ease;
  margin-top: 1.5em;

  &:hover {
    background-color: darken($gold, 10%);
  }

  &.learn-more {
    background-color: transparent;
    padding: 0 0;

    svg {
      transition: all 250ms ease;
      position: relative;
      width: 15px;
      height: 14px;
      vertical-align: middle;
      transform: translateX(0px);
    }

    &:active,
    &:focus {
      outline: none;
    }

  }

}
