
.content-wrapper {
  position: relative;

  &:after {
    z-index: 11;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 250ms ease;
    visibility: hidden;
  }

  &.modal-is-active {

    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: visible;
      background-color: rgba($black, 0.75);
    }

  }

}

.section {
  position: relative;
  background-color: $lightGrey;
  overflow: hidden;


  &--hero {
    height: 100vh;
    background-image: url(../img/trevor-zen.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;

    @include media-breakpoint-down(md) {
      height: 100vh;
    }

    .container {
      @include vertical-align();
      top: 25%;

      @include media-breakpoint-down(md) {
        top: 20%;
      }

    }

  }

  &--body {
    padding: 150px 0 0 0;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding: 100px 0 0 0;
    }
    .container {
      max-width: 1000px;
    }
  }

  &--who {
    padding: 150px 0 0 0;
    background-image: url(../img/leafs-top-left.png), url(../img/leafs-top-right.png);
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 0%;
    background-size: 554px 348px, 554px 348px;

    @include media-breakpoint-down(lg) {
      background-size: 278px 174px, 278px 174px;
    }

    @include media-breakpoint-down(md) {
      background-size: 139px 87px, 139px 87px;
      padding: 100px 0 0 0;
    }

    .card__inner {
      padding: 4em 4em;

      @include media-breakpoint-down(lg) {
        padding: 3em 3em;
      }

      @include media-breakpoint-down(md) {
        padding: 1em 1em;
      }

    }

  }

  &--work {
    background-image: url(../img/leaf-border-left.png), url(../img/leaf-border-right.png);
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 0%;
    background-size: 256px 676px, 256px 676px;
    @include media-breakpoint-down(lg) {
      background-size: 64px 169px, 64px 169px;
    }
    .card__inner--clickable {
      p:last-child {
        margin-bottom: .5em;
      }
    }
  }

  &--connect {
    padding-bottom: 200px;
    background-image: url(../img/leafs-bottom-left.png), url(../img/leafs-bottom-right.png);
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 100%;
    background-size: 418px 746px;
    @include media-breakpoint-down(lg) {
      background-size: 105px 186px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 100px;
      background-size: 105px 186px;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

}

.bg-pom {
  display: none;
  img {
    position: absolute;
    top: -125px;
    left: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.bg-pom-flipped {
  display: none;
  img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    top: -125px;
    right: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.card {
  position: relative;
  text-align: center;
  border: 1px solid $gold;
  margin-top: 30px;
  background-color: $white;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }

  &__inner {
    position: relative;
    width: 100%;
    padding: 3em 3em;

    a {
      text-decoration: none;
    }

  }

  &__bg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    min-height: 375px;
    transition: all 250ms ease;
    overflow: hidden;

    &--digital-transformation {
      background-image: url(../img/digital-transformation.gif);
    }

    &--worldofthefuture {
      background-position: 30% 50%;
      background-image: url(../img/worldofthefuture.gif);
    }

    &--buildingwithai {
      background-image: url(../img/buildingwithai.gif);
    }

    &--pinballlizard {
      background-image: url(../img/pinballlizard.gif);
    }

    &--alphauniverse {
      background-image: url(../img/alphauniverse.gif);
    }
    &--concurguideddemo {
      background-image: url(../img/concurguideddemo.gif);
    }

  }


  &__awards-container {

    .award {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55px;
      z-index: 9;

      a {
        text-decoration: none;

        img {
          position: relative;
          display: block;
          width: 55px;
        }

      }

    }

  }

  &__header {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 2em;
    transition: all 250ms ease;
    transform: translateY(-100%);

    h3 {
      color: $white;
    }

  }

  &__learnmore {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2em 2em;
    transition: all 250ms ease;
    transform: translateY(100%);
  }

  &:hover {

    .card__bg {
      filter: brightness(75%) blur(2px);
      -webkit-filter: brightness(75%) blur(2px);
    }

    .card__header {
      transform: translateY(0%);
    }

    .card__learnmore {
      transform: translateY(0%);
    }

  }

}

.card-full {
  margin-top: 3.5em;

  &:first-child {
    margin-top: 0;
  }

  .bottom-image {
    position: relative;
    width: 100%;
    margin-top: 1.5em;
  }

  &--connect {

    p {
      margin-bottom: 25px;
    }
    a {
      text-decoration: none;
      margin-right: 5px;

      svg {
        width: 35px;
        height: 35px;
        fill: $gold;
        border-radius: 6px;
        transition: all 250ms ease;
      }

      &:hover {

        svg {
          fill: darken($gold, 10%);
        }

      }

    }

  }

}

footer {
  text-align: center;
  background-color: $lightGrey;
  padding: 10px 0;
}
