
.content-wrapper {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
  &:after {
    z-index: 11;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 250ms ease;
    visibility: hidden;
  }

  &.modal-is-active {

    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: visible;
      background-color: rgba($white, 0.75);
    }

  }

}

.section {
  position: relative;
  background-color: $lightGrey;
  overflow: hidden;

  &--hero {
    background-image: url(../img/trevor-zen.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    @include media-breakpoint-down(md) {
      height: 100vh;
    }

    .container {
      @include vertical-align();
      top: 25%;

      @include media-breakpoint-down(md) {
        top: 20%;
      }

    }

  }

  &--body {
    padding: 200px 0 100px 0;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding: 100px 0 50px 0;
    }
    .container {
      max-width: 1000px;
    }
  }

  &--who {
    padding: 150px 0 0 0;
    background-image: url(../img/leafs-top-left.png), url(../img/leafs-top-right.png);
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 0%;
    background-size: 554px 348px, 554px 348px;

    @include media-breakpoint-down(lg) {
      background-size: 278px 174px, 278px 174px;
    }

    @include media-breakpoint-down(md) {
      background-size: 139px 87px, 139px 87px;
      padding: 100px 0 0 0;
    }

    .card__inner {
      padding: 4em 4em;

      @include media-breakpoint-down(lg) {
        padding: 3em 3em;
      }

      @include media-breakpoint-down(md) {
        padding: 1em 1em;
      }

    }

  }

  &--work {
    background-image: url(../img/leaf-border-left.png), url(../img/leaf-border-right.png);
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 0%;
    background-size: 256px 676px, 256px 676px;
    @include media-breakpoint-down(lg) {
      background-size: 64px 169px, 64px 169px;
    }
    @include media-breakpoint-down(md) {
      background-size: 64px 169px, 64px 169px;
      background-position: 0% 2%, 100% 2%;
    }
    .card__inner--clickable {
      p:last-child {
        margin-bottom: .5em;
      }
    }
  }

  &--connect {
    padding-bottom: 200px;
    background-image: url(../img/leafs-bottom-left.png), url(../img/leafs-bottom-right.png);
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 100%;
    background-size: 418px 746px;
    @include media-breakpoint-down(lg) {
      background-size: 205px 372px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 100px;
      background-size: 105px 186px;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

}

.bg-pom {
  display: none;
  img {
    position: absolute;
    top: -125px;
    left: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.bg-pom-flipped {
  display: none;
  img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    top: -125px;
    right: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.card {
  position: relative;
  text-align: center;
  border: 1px solid $gold;
  margin-top: 30px;
  background-color: $white;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }

  &__inner {
    position: relative;
    width: 100%;
    padding: 3em 3em;

    a {
      text-decoration: none;
    }

  }

  &__bg-border {
    position: relative;
    width: 100%;
    border: 1px solid $gold;
  }
  &__bg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    min-height: 350px;
    transition: all 250ms ease;
    overflow: hidden;

    &--digital-transformation {
      background-image: url(../img/digital-transformation.gif);
    }

    &--worldofthefuture {
      background-position: 30% 50%;
      background-image: url(../img/worldofthefuture.gif);
    }

    &--buildingwithai {
      background-image: url(../img/buildingwithai.gif);
    }

    &--pinballlizard {
      background-image: url(../img/pinballlizard.gif);
    }

    &--alphauniverse {
      background-image: url(../img/alphauniverse.gif);
    }

    &--concurguideddemo {
      background-image: url(../img/concurguideddemo.gif);
    }

    &--arscavengerhunt {
      background-image: url(../img/ar-6.jpg);
    }

    &--workplaceinsights {
      background-image: url(../img/workplaceinsights.gif);
    }

    &--travelmadeeasy {
      background-image: url(../img/travelmadeeasy.gif);
    }

    &--nintexguidedtrials {
      background-image: url(../img/nintexguidedtrial.gif);
    }

  }


  &__awards-container {

    .award {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 60px;
      z-index: 9;

      a {
        text-decoration: none;

        img {
          position: relative;
          display: block;
          width: 60px;
        }

      }

    }

  }

  &__header {
    position: relative;
    z-index: 9;
    left: 0;
    width: 100%;
    background-color: $lightGrey;
    padding-bottom: .25em;
    transition: all 250ms ease;

    h5 {
      color: $black;
    }

  }

  &__learnmore {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0;
    transition: all 250ms ease;
    transform: scale(0);

    h3 {
      margin-top: 0;
    }

    &--inner {
      margin-top: 24px;
      @include vertical-align();

      button {
        margin-top: 0;
        margin-bottom: 1em;
      }

    }

  }

  &:hover {

    .card__bg {
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }

    .card__header {
      transform: translateY(0%);
    }

    .card__learnmore {
      transform: scale(1);
    }

  }

  &--work {
    border: none;
  }

}

.card-full {
  margin-top: 3.5em;

  &:first-child {
    margin-top: 0;
  }

  .bottom-image {
    position: relative;
    width: 100%;
    margin-top: 1.5em;
  }

  &--connect {

    p {
      margin-bottom: 25px;
    }
    a {
      text-decoration: none;
      margin-right: 5px;

      svg {
        width: 35px;
        height: 35px;
        fill: $gold;
        border-radius: 6px;
        transition: all 250ms ease;
      }

      &:hover {

        svg {
          fill: darken($gold, 10%);
        }

      }

    }

  }

}


// Scroll down icon
.scroll-down {
  position: absolute;
  width: 100%;
  bottom: 35px;
  height: 56px;
  transition: all .65s ease;
  transform: translateY(0%);

  @include media-breakpoint-down(lg) {
    bottom: 45px;
  }

  &.is-removed {
    transform: translateY(300%);
  }

  .text-down {
    margin-bottom: 10px;
    text-align: center;
  }

  .arrows-down {
    width: 50px;
    margin: 0 auto;

    &:hover {
      cursor: pointer;

      .small-arrow-down {
        animation: initial;

        @include media-breakpoint-down(lg) {
          animation: none !important;
        }

      }
      .medium-arrow-down {
        animation: initial;
        margin-top: -2px;

        @include media-breakpoint-down(lg) {
          animation: none !important;
          margin-top: -10px !important;
        }

      }
      .big-arrow-down {
        animation: initial;
        margin-top: -2px;

        @include media-breakpoint-down(lg) {
          animation: none !important;
          margin-top: -15px !important;
        }

      }

    }
  }

  .small-arrow-down {
    margin: 0 auto;
    width: 0;
  	height: 0;
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-top: 15px solid darken($white, 20%);
    -webkit-animation-name: rotate-small-down;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: rotate-small-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }
  .medium-arrow-down {
    margin: -10px auto 0 auto;
    width: 0;
  	height: 0;
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-top: 20px solid darken($white, 10%);
    -webkit-animation-name: rotate-medium-down;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: rotate-medium-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: .2s ease-in-out;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }
  .big-arrow-down {
    margin: -15px auto 0 auto;
    width: 0;
  	height: 0;
  	border-left: 25px solid transparent;
  	border-right: 25px solid transparent;
  	border-top: 25px solid $white;
    -webkit-animation-name: rotate-big-down;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-name: rotate-big-down;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition: .2s ease-in-out;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }

  @-webkit-keyframes rotate-big-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(45deg);
    opacity: 0.8;}
      50%  {transform: rotateY(180deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  @-webkit-keyframes rotate-medium-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(60deg);
    opacity: 0.8;}
      50%  {transform: rotateY(200deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  @-webkit-keyframes rotate-small-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(80deg);
    opacity: 0.8;}
      50%  {transform: rotateY(220deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  @keyframes rotate-big-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(45deg);
    opacity: 0.8;}
      50%  {transform: rotateY(180deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  @keyframes rotate-medium-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(60deg);
    opacity: 0.8;}
      50%  {transform: rotateY(200deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  @keyframes rotate-small-down {
      0%   {transform: rotateY(0deg);
    opacity: 1;}
      25%  {transform: rotateY(80deg);
    opacity: 0.8;}
      50%  {transform: rotateY(220deg);
    opacity: 0.5;}
      100% {transform: rotateY(360deg);
    opacity: 1;}
  }

  .arrows-more {
    width: 270px;
    display: inline-block;

    &:hover {
      cursor: pointer;

      .small-arrow-more {
        animation: initial;
      }
      .medium-arrow-more {
        animation: initial;

        @include media-breakpoint-down(lg) {
          animation: none !important;
          //margin-left: -2px;
        }

      }
      .big-arrow-more {
        animation: initial;
        //margin-left: -2px;
      }
    }
  }

  .small-arrow-more {
    margin-top: -15px;
    display: inline-block;
    width: 0;
  	height: 0;
  	border-top: 15px solid transparent;
  	border-bottom: 15px solid transparent;
  	border-left: 15px solid #787A7A;
    -webkit-animation-name: rotate-small-more;
    -webkit-animation-iteration-count: infinite;
    animation-name: rotate-small-more;
    //animation-duration: 4s;
    animation-iteration-count: infinite;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }
  .medium-arrow-more {
    //margin: -10px auto 0 auto;
    display: inline-block;
    width: 0;
  	height: 0;
  	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #FF8000;
    -webkit-animation-name: rotate-medium-more;
    -webkit-animation-duration: 5s;
    animation-name: rotate-medium-more;
    animation-duration: 5s;
    //animation-iteration-count: infinite;
    transition: .2s ease-in-out;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }
  .big-arrow-more {
    //margin: -15px auto 0 auto;
    display: inline-block;
    width: 0;
  	height: 0;
  	border-top: 25px solid transparent;
  	border-bottom: 25px solid transparent;
  	border-left: 25px solid #000000;
    -webkit-animation-name: rotate-big-more;
    -webkit-animation-duration: 6s;
    animation-name: rotate-big-more;
    animation-duration: 6s;
    //animation-iteration-count: infinite;
    transition: .2s ease-in-out;

    @include media-breakpoint-down(lg) {
      animation: none !important;
    }

  }

  @-webkit-keyframes rotate-big-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(45deg);
    opacity: 0.8;}
      50%  {transform: rotateX(180deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }

  @-webkit-keyframes rotate-medium-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(60deg);
    opacity: 0.8;}
      50%  {transform: rotateX(200deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }

  @-webkit-keyframes rotate-small-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(80deg);
    opacity: 0.8;}
      50%  {transform: rotateX(220deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }

  @keyframes rotate-big-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(45deg);
    opacity: 0.8;}
      50%  {transform: rotateX(180deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }

  @keyframes rotate-medium-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(60deg);
    opacity: 0.8;}
      50%  {transform: rotateX(200deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }

  @keyframes rotate-small-more {
      0%   {transform: rotateX(0deg);
    opacity: 1;}
      25%  {transform: rotateX(80deg);
    opacity: 0.8;}
      50%  {transform: rotateX(220deg);
    opacity: 0.5;}
      100% {transform: rotateX(360deg);
    opacity: 1;}
  }
}

footer {
  text-align: center;
  background-color: $lightGrey;
  padding: 10px 0;
}
